* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topbar {
    overflow: hidden;
    background-color: #333;
}

.logoname {
    display: inline-block;
}

#logodiv {
    width: fit-content;
}

img.logo {
    max-width: 80px;
    vertical-align: middle;
    margin-left: 10px;
}

#viewnamediv {
    width: 60%;
}

.viewname {
    font-family: "Audiowide", Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #dadada;
    padding-left: 5%;
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    .viewname {
        font-size: xx-large;
    }
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #525252;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}