* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.top-bar {
    overflow: hidden;
    background-image: linear-gradient(to right, #000000, #2c0c21);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo-name {
    max-width: 800px;
    margin: auto;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.logo {
    max-width: 120px;
}

.name {
    font-family: "Audiowide", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-left: 20px;
    color: white;
}

.content {
    padding-top: 20px;
    max-width: 800px;
    margin: auto;
}